@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    overflow-x: hidden;
}
.home{

    background-image: url('/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
